* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img#main-logo {
  width: 40rem;
  max-width: 80vw;
  display: block;
  margin: 20px auto;
}

div.menu-item img {
    width: 80%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

h1 {
    margin: 0.5rem;
}

h2 {
    font-weight: normal;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    list-style: none;
    margin: 2rem;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: darkslategrey
}

main section {
    display: block;
}

section#current-promotion {
    background-color: firebrick;
    color: white;
    padding: 2rem;
    text-align: center;
}
section#promoted-menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 20rem));
    justify-content: center;
}

div.menu-item {
    margin: 1rem;
}