* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color:honeydew;
    display: flex;
    justify-content: center;
}

img#main-logo {
  width: 40rem;
  max-width: 80vw;
  margin: 10px;
      margin-top: 2rem;
}

div.menu-item img {
    width: 100%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}

h1 {
    margin: 0.5rem;
}

h2 {
    font-weight: normal;
}

h3 {
    font-size: 1.3rem;
    background-color: rgb(221, 243, 221);
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

nav {
    background-color: honeydew;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    list-style: none;
    padding: 2rem;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: darkslategrey;
    text-align: center;
}

nav ul li:hover {
    color: white;
    text-shadow: 0 0 20px darkslategrey, 0 0 15px darkslategrey;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#current-promotion {
    background-color: firebrick;
    color: white;
    padding: 2rem;
    text-align: center;
    width: 100vw;
    margin-bottom: 3vh;
}
section#promoted-menu-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-content: space-between;
    justify-items: center;
    align-items: flex-start;;
    width: 100vw;
    min-height: 33vh;
}

div.menu-item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
}

div.menu-item p {
    margin: 0.4rem;
}

div.menu-item p.price {
    font-size: 1.2rem;
    align-self: flex-end;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 8px double darkslategrey;
    align-items: center;
    justify-items: center;
    font-size: 1.3rem;
    text-align: center;
}

img#bottom-logo {
    max-height: 5rem;
    margin: 2rem;
}