* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img#main-logo {
  width: 40rem;
  max-width: 80vw;
  display: block;
  margin: 20px auto;
}

div.menu-item img {
    width: 80%;
    aspect-ratio: 5 / 3;
    object-fit: cover;
}